
.email,
.text,
.password,
.date,
.number,
.select,
.textarea {
    border: 2px solid rgba(95, 108, 55, 1);
    border-radius: 10px;
    overflow: auto;
    justify-content: flex-start;
    padding: 5px;
    width: 220px;
    height: 30px;
}

.textarea{
    max-width: 300px;
}

.label-email, 
.label-text, 
.label-number {
    font-family: 'Abril Fatface', cursive;
    color:rgba(95, 108, 55, 1);
}

.label-radio{
    font-family: 'Advent Pro', cursive;
    color:rgba(95, 108, 55, 1);
}

.radio{
    border: 2px solid rgba(95, 108, 55, 1);
    border-radius: 10px;
    overflow: auto;
    justify-content: flex-start;
    width: 50px;
    margin: 0;
}

.div-input{ 
    margin: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .person-form, .flex-form{
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
}

@media screen and (max-width: 450px) {
    .div-buttons {
        display: flex;
        flex-direction: column;
    }
    
    .div-buttons button{
        margin: 10px;
    }
}