#update-screen{
    display: flex;
    flex-direction: row;
}

#update-title {
    margin: 20px 30px;
    width: 15%;
    height: fit-content;
}

#update-form {
    width: 65%;
}

form#update-form a{
    margin: 20px 0;
}

.div-input label{
    font-size: large;
}

#update-form .div-input input, 
#update-form .div-input select,
#update-form .div-input textarea {
    width: 300px;
    height: 40px;
    
    min-width: 300px;
}

#update-form .div-button{
    width: 300px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width : 600px) {
    #update-screen {
        flex-direction: column;
    }
    
    #update-title {
        width: 100%;
    }
    
    #update-form {
        width: 100%;
    }    
    
    .div-input .number {
        height: 40px !important;
    }
}