/* HEADER */
.head-logo { 
    position: absolute;
    width: 8.8vw; height: 8.8vw;
} 

.header-bar {
    margin: 0 0.8vw 0 0.8vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}

.list-inline { 
    padding: 3.5vw;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

#black {
    color: black;
}

header {
    position: absolute;
    width: 100vw;
    height: 8.8vw;
    letter-spacing: 0.01em;
}


/* FOOTER */
.footer-logo { 
    position: absolute;
    width: 20vw; height: 20vw;
} 

.fa { 
    display: inline-block;
    font-size: 2.6vw;
    width: 3.5vw; height: 3.5vw;
    text-decoration: none;
    color: rgb(95, 108, 55);
}

.footer-bar {
    position: absolute;
    bottom: 7.5vw;
    width: 100vw; height: 2.4vw;
    background-color: #FFFDF5;
    padding: 0.8vw;
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-info {
    position: absolute;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vw;
}

#footer-img{
    display: flex ;
    width: 33%;
    max-height: 83vw;
    
    align-items: center;
    justify-content: space-evenly;
}

#footer-list{
    display: flex;

    margin: 6vw;
    padding: 1vw;
    width: 60%;

    float: right;
    box-sizing: border-box;
}

.footer-list-wrap{
    float: left;
    margin: 0.5vw;
    width: 33%;
    max-width: 33%;
    
    box-sizing: border-box;
}

.footer-list-wrap h6{
    font-size: 3vw;
    margin: 0 0 1vw 0;
    color: #424B25;
}

.footer-list-wrap li{
    font-size: 1.5vw;
    margin: 0 0 0.9vw 0;
    color: #32391C;
}

.footer-list-wrap-ul{
    list-style: none;
}

footer {
    position: absolute;
    width: 100%;
    height: 38vw;
    background-color: rgba(144, 166, 128, 0.63);
    box-sizing: border-box;
}