/* button-outline -> unfilled-button */
.unfilled-button:hover{
    background-color: #5F6C37;
    color: white;
}

.unfilled-button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #5F6C37;
    color: #5F6C37;
}

.filled-button{
    background-color: rgb(73, 120, 86);
    border: 2px solid rgb(73, 120, 86);
    color: white;
}

.filled-button:hover{
    border: 3px solid #515d30;
}

button {
    font-family: Advent_Pro;
    font-size: large;
    width: 100px;
    height: 55px;
    overflow: auto;
    border-radius: 10px;
    cursor: pointer;
    margin : 5px;
}