/* button-outline -> unfilled-button */
.unfilled-button:hover{
    background-color: #5F6C37;
    color: white;
}

.unfilled-button{
    width: 200px;
    height: fit-content;
    background-color: transparent;
    border: 2px solid #5F6C37;
    color: #5F6C37;
}

.filled-button{
    background-color: rgb(73, 120, 86);
    border: 2px solid rgb(73, 120, 86);
    color: white;
}

.filled-button:hover{
    /* border: 3px solid #515d30; */
    background-color: rgb(53, 84, 61);
    border: 2px solid rgb(53, 84, 61);
}
    
button {
    background-color: rgb(73, 120, 86);
    border: 2px solid rgb(73, 120, 86);
    font-family: 'Advent Pro';
    font-size: x-large;
    color: white;
    width: 120px;
    height: 65px;
    overflow: auto;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.full {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .filled-button{
        font-size: x-large;
    }
}