.cart-item{
    width: 90%;
    height: 90%;
    padding: 20px;
    background-color: rgba(144, 166, 128, 0.63);
    list-style: none;
    margin: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item-cover{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.card-item-cover {
    width: auto;
    height: auto;
}

.cart-item-name{
    width: 50%;
    font-size: larger;
    font-family: 'Abril Fatface', 'sans-serif';
    color: #424B25;
    /* background-color: aqua; */
}

.cart-shop {
    /* align-self: flex-end; */
    font-family: 'Advent Pro', 'sans-serif';
    font-weight: 700;
    color: black;
    font-size: larger; 
    margin: 0 20px 0 0; 
    width:min-content;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}  

.cart{
    display: flex;
    flex-direction: row;
}

.disable::-webkit-inner-spin-button,
.disable::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disable {
  -moz-appearance: textfield;
  text-align: center;
}


@media screen and (max-width: 900px) {
    .cart-shop label, 
    .cart-item-name{
        font-size: medium;
    }

    .card-item-cover{
        margin: 0;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .item-cover{
        width: 100%;
        margin: 0;
    }

    .item-cover{
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .cart-shop label, 
    .cart-item-name{
        font-size: small; 
        margin: 10px;
    }
}