/*LOGIN*/
.basic-form {
    justify-self: center;
    display: flex;
    margin: 30px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'Abril Fatface', cursive;
    color:rgba(95, 108, 55, 1);
    font-size: 36px;
}

.basic-form-form {
    font-family: 'Abril Fatface', cursive;
    color:rgba(95, 108, 55, 1);
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.links-loginscreen {
    margin: 10px;
    color:rgba(95, 108, 55, 1);
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
}

.basic-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-button {
    margin: 30px 10px;
    align-self: center;
}

#background-image1 { 
    width: 250px;
    height: 400px;
    
    
    filter: opacity(50%);
}

.background-login {
    position: absolute;
    bottom: -34px;
    right: 0;
    overflow: visible;
    z-index: -1;
}

.person-form{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.flex-form{
    display: flex;
    flex-direction: row;
}

.title-profile{
    font-size: 60px;
    font-family: 'Abril Fatface';
}

.info-profile{
    font-size: x-large;
    font-family: 'Advent Pro';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 600px) {
    .person-form, .flex-form{
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
}