.head-logo { 
    position: absolute;
    width: 138px; height: 138px;
} 

.header-bar {
    margin: 0px 7px 0px 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.list-inline { 
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.black {
    color: black;
}

#header {
    position: absolute;
    width: 100vw;
    height: 138px;
    letter-spacing: 0.01em;
}