#wrapper{
    position: relative;
    overflow-x: hidden;  
    width: 100%; 
}

#buy-button {
    font-size: x-large;
    width: 150px;
    /* height: 75px; */
    overflow: auto;
}

.item {
    display: flex;
}

.item p{
    margin: 10px auto;
}

.imageItem{
    width: 40%;
}
.item-page {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

#item-image {
    margin: 0 3vw 3vw 1.5vw;
    width: 30vw;
    height: 40vw;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

#item-header {
    color:rgba(95, 108, 55, 1);
    font-family: 'Abril Fatface', cursive;
}

#item-desc {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Advent Pro', 'sans-serif';
    width: 100vh;
    text-align: justify;
}

#shop {
    align-self: flex-end;
    font-family: 'Advent Pro', 'sans-serif';
    font-weight: 700;
    color:rgba(95, 108, 55, 1);
    font-size: 3vw;
}  

#qtt {
    width: 9vw;
    height: 5vw;
    color:rgba(95, 108, 55, 1);
    align-content: center;
    font-size: 2.5vw;
}

#background-image2 {
    position: absolute;
    width: 250px;
    height: 400px;
    bottom: 0;
    right: 0;
    
    transform: rotate(-90deg);
    filter: opacity(50%);
    object-fit: contain;
    
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .item{  
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item-page{
        display: flex;
        justify-content: left;
    }

    #shop{
        align-self: flex-start;
    }

    #item-image{ 
        height: 60vw;
        width: 80%;
        margin: 30px 0;
    }
    #background-image2{
        display: none;
    }
    #item-desc{
        width: 100%;
    }
}