* {margin: 0; padding: 0;}

body{ 
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

 /*IFRAMES*/
iframe[name='frame-header'] {
    width: 100%; height: 182px;
    top: 0;
}
iframe[name='frame-footer'] {
    width: 100%; height: 382px;
    position: static;
    bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/*LOGIN*/
#login {
    margin: 30px;
    background-color: white;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 50%;
}

.login-form {
    font-family: 'Abril Fatface', cursive;
    color:rgba(95, 108, 55, 1);
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input {
    border: 2px solid rgba(95, 108, 55, 1);
    border-radius: 10px;
    width: 220px;
    height: 55px;
    overflow: auto;
    justify-content: flex-start;
    font-size: large;
    padding: 5px;;
}

.no-account-yet {
    margin: 10px;
    color:rgba(95, 108, 55, 1);
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
}

#login-button {
    align-self: center;
}

/*ITEM*/
#item-image {
    margin: 0px 25px 25px 80px;
    width: 482px;
    height: 569px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 25px 0 25px;
}

#item-header {
    color:rgba(95, 108, 55, 1);
    font-family: 'Abril Fatface', cursive;
}

#item-desc {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Advent Pro', sans-serif;
    width: 700px;
}

#shop {
    align-self: flex-end;
}

#buy-button {
    width: 150px;
    height: 75px;
    overflow: auto;
}

.item {
    display: flex;
}

.item-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

/*GENERAL, IMAGES AND FORMS*/
button {
    background-color: rgb(73, 120, 86);
    border: 2px solid rgb(73, 120, 86);
    font-family: 'Advent Pro', sans-serif;
    font-size: large;
    color: white;
    width: 100px;
    height: 55px;
    overflow: auto;
    border-radius: 10px;
    cursor: pointer;
    margin : 5px;
}

#background-image1 {
    position: absolute;
    width: 250px;
    height: 400px;
    right: 0;
    bottom: 382;
    filter: opacity(50%);
}

#background-image2 {
    position: absolute;
    width: 250px;
    height: 400px;
    bottom: calc(100vh - 382px);
    transform: rotate(-90deg);
    filter: opacity(50%);
    right: 0;
}

#ellipse-1 {
    position: absolute;
    width: 1784.5px;
    height: 1231.25px;
    left: 2517.46px;
    top: 59.63px;

    background: #90A680;
    transform: rotate(135deg);
}

#img-1 {
    position: absolute;
    left: 59.91%;
    right: -0.38%;
    top: 0%;
    bottom: 84.75%;

    background: url(download__2_-removebg-preview.png);
}